# Maven output
target

# Logs
.log

# IDEs
# Eclipse
.classpath
.project
.settings

# IntelliJ
.idea
.iml

# NetBeans
nb-configuration.xml
nbprojectprivate
build
nbbuild
dist
nbdist
.nb-gradle

# VS Code
.vscode

# OS files
.DS_Store
Thumbs.db
